<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/css/styleError.css" rel="stylesheet" type="text/css">
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|EB+Garamond:400,500|Oswald:700|Open+Sans:400&display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|EB+Garamond:400,500|Oswald:700|Open+Sans:400&display=swap"/>
    <link rel="stylesheet" href="https://cdn.dorik.com/6644ee16fc5eaa001128db65/css/index.css?v=1716220878646"/>
    <title>Сервис временно недоступен</title>
</head>
<body>
<div class="container">
    <h1>Сервис временно недоступен!</h1>
    <p>Извините за неудобства. Мы работаем над решением проблемы. Попробуйте снова позже.</p>
</div>
</body>
</html>