<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Кладбище Саратова - поиск захоронений и бронирование мест</title>
    <link rel="icon" href=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Кладбище Саратова - поиск захоронений и бронирование мест"/>
    <meta name="description"
          content="Сайт кладбища в Саратове для поиска мест захоронений и резервирования новых участков."/>
    <meta property="og:title" content="Кладбище Саратова - поиск захоронений и бронирование мест"/>
    <meta property="og:description"
          content="Сайт кладбища в Саратове для поиска мест захоронений и резервирования новых участков."/>
    <meta name="twitter:title" content="Кладбище Саратова - поиск захоронений и бронирование мест"/>
    <meta name="twitter:description"
          content="Сайт кладбища в Саратове для поиска мест захоронений и резервирования новых участков."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="https://cemetery.dorik.io/"/>
    <meta property="og:type" content="website"/>
    <link rel="canonical" href="https://cemetery.dorik.io/"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|EB+Garamond:400,500|Oswald:700|Open+Sans:400&display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|EB+Garamond:400,500|Oswald:700|Open+Sans:400&display=swap"/>
    <link rel="stylesheet" href="https://cdn.dorik.com/6644ee16fc5eaa001128db65/css/index.css?v=1716220878646"/>


</head>
<body>

<section class="dorik-section dorik-section-jkjeh4wg ">
    <div class="dorik-container-y2zykale  ">
        <div class="dorik-container-a1ygxjx7  ">
            <div class="dorik-container-g5ul9g1w  ">
                <div class="dorik-navbar--wrapper dorik-nav-1ur9miq0-wrapper  ">
                    <div class="dorik-navbar dorik-nav-1ur9miq0 ">
                        <div class="dorik-navbar--brand"><a href="/"><img
                                src="/images/logo.png"
                                alt="Logo Caption" width="200px"/></a></div>
                        <button aria-label="Navbar Toggle" class="dorik-navbar--toggle"
                                data-target="#dorikNavbarCollapse">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                 class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                            </svg>
                        </button>
                        <div class="dorik-navbar--collapse collapse" id="dorikNavbarCollapse">
                            <div class="dorik-navbar--navs">
                                <ul class="dorik-nav--links normalize">
                                    <li class=""><a href="#"
                                                    class="dorik-nav--link захоронения dorik-nav--link-2suuvmpu  "><span
                                            class="dorik-nav--link-icon"></span><span class="dorik-nav--link-text" onclick="window.location.href='/burials'">Захоронения</span></a>
                                    </li>
                                    <li class=""><a href="https://yandex.ru/maps/-/CDb2zOL2"
                                                    class="dorik-nav--link карта dorik-nav--link-jrjtnw95  "><span
                                            class="dorik-nav--link-icon"></span><span
                                            class="dorik-nav--link-text" >Карта</span></a></li>
                                    <li class=""><a href="#"
                                                    class="dorik-nav--link цены dorik-nav--link-bzdz1ay2  "><span
                                            class="dorik-nav--link-icon"></span><span
                                            class="dorik-nav--link-text">Цены</span></a></li>
                                    <li class=""><a href="#"
                                                    class="dorik-nav--link услуги dorik-nav--link-k0qhh7f2  "><span
                                            class="dorik-nav--link-text">Услуги</span></a></li>
                                </ul>
                                <ul class="dorik-nav--btns normalize">
                                    <li><a href="#" class="dorik-nav--btn dorik-nav--btn-5xmbnhej купить-место "><span
                                            class="dorik-nav--btn-icon"></span><span class="dorik-nav--btn-text">Купить место</span></a>
                                    </li>
                                    <li><a href="#" class="dorik-nav--btn dorik-nav--btn-c0ocoi2z личный-кабинет "><span
                                            class="dorik-nav--btn-icon"></span><span class="dorik-nav--btn-text" onclick="window.location.href='http://localhost:8080/login'">Личный кабинет</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dorik-container-ov4ey2ky  ">
        <div class="dorik-container-45bads8x  ">
            <div class="dorik-iconText-imjndzl3-wrapper ">
                <div class="dorik-iconText-imjndzl3 "><span></span><span class="icon_text" data-testid="icon-text">Поиск мест захоронений и бронирование участков на кладбище Саратова</span>
                </div>
            </div>
            <div class="dorik-wrapper dorik-heading-u55qvcaj-wrapper "><h1
                    class="dorik-heading dorik-heading-u55qvcaj "><span>Найдите место захоронения близких или забронируйте участок на кладбище Саратова</span>
            </h1></div>
            <div class="dorik-text dorik-text-ba5yazd2 ">Используйте карту кладбища для поиска мест захоронений.
                Забронируйте место на кладбище заранее по доступным ценам.
            </div>
            <div class="dorik-container-0gv4yf03  ">
                <div class="dorik-button-mylu286a-wrapper  ">
                    <button class="dorik-btn dorik-button-mylu286a" onclick="window.location.href='/burials'">Найти место</button>
                </div>
                <div class="dorik-button-9mhvv1zr-wrapper  ">
                    <button class="dorik-btn dorik-button-9mhvv1zr  ">Забронировать</button>
                </div>
            </div>
        </div>
        <div class="dorik-container-kv68au8y  color-overlay ">
            <div class="dorik-wrapper dorik-image-zuez9vtg-wrapper "><img
                    src="https://cdn.dorik.com/6644ee16fc5eaa001128db65/images/_n8fAd.png-l2xTn.png"
                    alt="tombstone cemetery" loading="lazy" class="dorik-image-zuez9vtg "/></div>
        </div>
    </div>
</section>
<section class="dorik-section dorik-section-dd2zbmv0 ">
    <div class="dorik-container-u44tv6hz  ">
        <div class="dorik-container-q031c8mg  ">
            <div class="dorik-text dorik-text-4wlz0kjf ">История кладбища Саратова началась в 1892, когда оно было
                перенесено на новое место за городом.
            </div>
            <div class="dorik-wrapper dorik-heading-ec6yxnjs-wrapper "><h2
                    class="dorik-heading dorik-heading-ec6yxnjs ">
                <span>Уникальное место в культурном наследии Саратова</span></h2></div>
        </div>
        <div class="dorik-container-k2shvrwl  ">
            <div class="dorik-text dorik-text-llizmg5f ">Сегодня <b>Кладбище Саратова</b> является <i>уникальным
                историко-мемориальным комплексом</i>. Здесь покоятся известные ученые, деятели культуры и искусства.
                Кладбище служит хранителем бесценной исторической памяти.
            </div>
            <div class="dorik-button-i2jhmsx5-wrapper  ">
                <button class="dorik-btn dorik-button-i2jhmsx5" onclick="window.location.href='/about'">Узнать больше</button>
            </div>
        </div>
    </div>
    <div class="dorik-container-we096nwb  ">
        <div class="dorik-container-amp4l2jr  ">
            <div class="dorik-wrapper dorik-heading-cwwx86rq-wrapper "><h3
                    class="dorik-heading dorik-heading-cwwx86rq "><span>1086</span></h3></div>
            <div class="dorik-wrapper dorik-heading-v36q3vfm-wrapper "><h5
                    class="dorik-heading dorik-heading-v36q3vfm "><span>гектар территории</span></h5></div>
        </div>
        <div class="dorik-container-avgj5zal  ">
            <div class="dorik-wrapper dorik-heading-ipwkhd2s-wrapper "><h3
                    class="dorik-heading dorik-heading-ipwkhd2s "><span>150</span></h3></div>
            <div class="dorik-wrapper dorik-heading-uf8zkiv0-wrapper "><h5
                    class="dorik-heading dorik-heading-uf8zkiv0 "><span>тысяч захоронений</span></h5></div>
        </div>
        <div class="dorik-container-qpdunpy3  ">
            <div class="dorik-wrapper dorik-heading-wgomefx5-wrapper "><h3
                    class="dorik-heading dorik-heading-wgomefx5 "><span>1892</span></h3></div>
            <div class="dorik-wrapper dorik-heading-7ulaygyy-wrapper "><h5
                    class="dorik-heading dorik-heading-7ulaygyy "><span>год основания </span></h5></div>
        </div>
        <div class="dorik-container-e7eg9qt2  ">
            <div class="dorik-wrapper dorik-heading-g6545prh-wrapper "><h3
                    class="dorik-heading dorik-heading-g6545prh "><span>24/7</span></h3></div>
            <div class="dorik-wrapper dorik-heading-f3yutx4b-wrapper "><h5
                    class="dorik-heading dorik-heading-f3yutx4b "><span>работает круглосуточно</span></h5></div>
        </div>
    </div>
</section>
<section class="dorik-section dorik-section-v8klnzlv ">
    <div class="">
        <div class="container dorik-row-bal4ni4q-wrapper    ">
            <div class="dorik-row-bal4ni4q  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner dorik-column-ypsvkcy2  1/1">
                        <div class="dorik-wrapper dorik-heading-f4ytjyhi-wrapper "><h2
                                class="dorik-heading dorik-heading-f4ytjyhi "><span>Поиск мест</span></h2></div>
                        <div class="dorik-text dorik-text-minw0n8k ">Наше кладбище предлагает удобный сервис поиска
                            захоронений по имени или фамилии усопшего. Вы сможете быстро найти местонахождение могилы
                            ваших близких.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container dorik-row-1z9ibmug-wrapper    ">
            <div class="dorik-row-1z9ibmug  flex  ">
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-hftev1dy  1/3">
                        <div class="dorik-icon-pkcdukgq-wrapper  "><span class="dorik-icon dorik-icon-pkcdukgq  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass"
                                class="svg-inline--fa fa-magnifying-glass fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-rqta04ja-wrapper "><h4
                                class="dorik-heading dorik-heading-rqta04ja "><span>Темы</span></h4></div>
                        <div class="dorik-text dorik-text-3g3uahuy ">Мы предлагаем несколько вариантов поиска
                            захоронений на нашем кладбище.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-9eidqgcl  1/3">
                        <div class="dorik-icon-94pybkqw-wrapper  "><span class="dorik-icon dorik-icon-94pybkqw  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
                                class="svg-inline--fa fa-user fa-fw icon " role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512" data-testid="icon-test"><path fill="currentColor"
                                                                                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-6flj9r8b-wrapper "><h4
                                class="dorik-heading dorik-heading-6flj9r8b "><span>По имени</span></h4></div>
                        <div class="dorik-text dorik-text-ukh6jf4d ">Введите имя и фамилию усопшего для поиска точного
                            места захоронения на кладбище.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-7t1pd8az  1/3">
                        <div class="dorik-icon-1m2ya282-wrapper  "><span class="dorik-icon dorik-icon-1m2ya282  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-days"
                                class="svg-inline--fa fa-calendar-days fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-w4wvgmow-wrapper "><h4
                                class="dorik-heading dorik-heading-w4wvgmow "><span>По дате</span></h4></div>
                        <div class="dorik-text dorik-text-r67a3ovr ">Используйте дату смерти для поиска захоронения
                            ваших родных и близких.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-wgxutql2  1/3">
                        <div class="dorik-icon-xe24fwyd-wrapper  "><span class="dorik-icon dorik-icon-xe24fwyd  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="location-dot"
                                class="svg-inline--fa fa-location-dot fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-k4lkvd58-wrapper "><h4
                                class="dorik-heading dorik-heading-k4lkvd58 "><span>По сектору</span></h4></div>
                        <div class="dorik-text dorik-text-g1vyxf0f ">Выберите сектор кладбища на карте для поиска
                            конкретного захоронения.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-75eblw5f  1/3">
                        <div class="dorik-icon-wf9nyjj0-wrapper  "><span class="dorik-icon dorik-icon-wf9nyjj0  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-lines"
                                class="svg-inline--fa fa-file-lines fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-19pil4e4-wrapper "><h4
                                class="dorik-heading dorik-heading-19pil4e4 "><span>По номеру</span></h4></div>
                        <div class="dorik-text dorik-text-0sdhnq36 ">Используйте уникальный номер захоронения для
                            быстрого поиска места на кладбище.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner dorik-column-etz9t9p7  1/3">
                        <div class="dorik-icon-nefydq94-wrapper  "><span class="dorik-icon dorik-icon-nefydq94  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="warehouse"
                                class="svg-inline--fa fa-warehouse fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M0 488V171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4V488c0 13.3-10.7 24-24 24H568c-13.3 0-24-10.7-24-24V224c0-17.7-14.3-32-32-32H128c-17.7 0-32 14.3-32 32V488c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24V432H512l0 56c0 13.3-10.7 24-24 24zM128 400V336H512v64H128zm0-96V224H512l0 80H128z"></path></svg></span>
                        </div>
                        <div class="dorik-wrapper dorik-heading-5mpkors2-wrapper "><h4
                                class="dorik-heading dorik-heading-5mpkors2 "><span>Бронь мест</span></h4></div>
                        <div class="dorik-text dorik-text-wv6rs3vd ">Забронируйте участок на кладбище заранее по
                            доступной цене. Мы подберем оптимальный вариант.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dorik-section dorik-section-3q57ghjt ">
    <div class="dorik-container-h0c10uu3  ">
        <video class="video-bg" autoplay="" loop="" muted="" playsinline="">
            <source src="https://cdn.dorik.com/6644ee16fc5eaa001128db65/videos/coverr-pov-walking-through-a-cemetery-7955-1080p-6HP73.mp4"
                    type="video/mp4"/>
        </video>
        <div class="video-overlay dorik-container-h0c10uu3--video-overlay"></div>
        <div class="dorik-container-w93siyoi  ">
            <div class="dorik-container-1dakyx72  ">
                <ul class="dorik-list dorik-lists-mh9c09fg ">
                    <li class="dorik-list--item dorik-li-3hmbugvr">
                        <div class="dorik-list--lists"><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                           focusable="false"
                                                                                           data-prefix="far"
                                                                                           data-icon="circle-check"
                                                                                           class="svg-inline--fa fa-circle-check fa-fw icon icon_3hmbugvr"
                                                                                           role="img"
                                                                                           xmlns="http://www.w3.org/2000/svg"
                                                                                           viewBox="0 0 512 512"
                                                                                           data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="dorik-list--text">Бронирование мест онлайн</span></div>
                    </li>
                    <li class="dorik-list--gap"></li>
                    <li class="dorik-list--item dorik-li-r9c9b2rj">
                        <div class="dorik-list--lists"><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                           focusable="false"
                                                                                           data-prefix="far"
                                                                                           data-icon="circle-check"
                                                                                           class="svg-inline--fa fa-circle-check fa-fw icon icon_r9c9b2rj"
                                                                                           role="img"
                                                                                           xmlns="http://www.w3.org/2000/svg"
                                                                                           viewBox="0 0 512 512"
                                                                                           data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="dorik-list--text">Поиск мест по фамилии и имени</span></div>
                    </li>
                    <li class="dorik-list--gap"></li>
                    <li class="dorik-list--item dorik-li-pnygvsgo">
                        <div class="dorik-list--lists"><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                           focusable="false"
                                                                                           data-prefix="far"
                                                                                           data-icon="circle-check"
                                                                                           class="svg-inline--fa fa-circle-check fa-fw icon icon_pnygvsgo"
                                                                                           role="img"
                                                                                           xmlns="http://www.w3.org/2000/svg"
                                                                                           viewBox="0 0 512 512"
                                                                                           data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="dorik-list--text">Информация о стоимости</span></div>
                    </li>
                    <li class="dorik-list--gap"></li>
                </ul>
            </div>
            <div class="dorik-container-y3n5k4l4  ">
                <div class="dorik-wrapper dorik-heading-7bn0u7yz-wrapper "><h4
                        class="dorik-heading dorik-heading-7bn0u7yz ">
                    <span>Поиск захоронений и бронирование участков</span></h4></div>
                <div class="dorik-container-hsuwpeka  ">
                    <div class="dorik-container-4j52y93i  ">
                        <div class="dorik-wrapper dorik-image-7ucn7bbf-wrapper "><img
                                src="https://cdn.dorik.com/6644ee16fc5eaa001128db65/images/photo-1444069788560-6ae1deb4c0d4-3-Pn2.jpeg"
                                alt="burial process" loading="lazy" class="dorik-image-7ucn7bbf "/></div>
                        <div class="dorik-wrapper dorik-image-vg6iwbt1-wrapper "><img
                                src="https://cdn.dorik.com/6644ee16fc5eaa001128db65/images/photo-1653014725473-42de2527d3ac-Rd8OF.jpeg"
                                alt="plot reservation" loading="lazy" class="dorik-image-vg6iwbt1 "/></div>
                        <div class="dorik-wrapper dorik-image-qn6txw2a-wrapper "><img
                                src="https://cdn.dorik.com/6644ee16fc5eaa001128db65/images/photo-1477013743164-ffc3a5e556da-TFu7p.jpeg"
                                alt="burial search" loading="lazy" class="dorik-image-qn6txw2a "/></div>
                    </div>
                    <div class="dorik-iconText-joho7bnk-wrapper ">
                        <div class="dorik-iconText-joho7bnk "><span><svg aria-hidden="true" focusable="false"
                                                                         data-prefix="far" data-icon="compass"
                                                                         class="svg-inline--fa fa-compass fa-fw icon "
                                                                         role="img" xmlns="http://www.w3.org/2000/svg"
                                                                         viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span><span
                                class="icon_text" data-testid="icon-text"><p>Узнайте больше</p>
</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dorik-section dorik-section-udpy3x7q ">
    <div class="">
        <div class="container dorik-row-0cou47ps-wrapper    ">
            <div class="dorik-row-0cou47ps  flex  ">
                <div class="col-lg-3/5 col-md-3/5 ">
                    <div class="column-inner dorik-column-9fblpt97  3/5">
                        <div class="dorik-wrapper dorik-heading-5yy09wga-wrapper "><h2
                                class="dorik-heading dorik-heading-5yy09wga "><span>Наши контакты</span></h2></div>
                        <div class="dorik-text dorik-text-ptq3kv12 ">Мы всегда рады ответить на ваши вопросы о нашем
                            кладбище и помочь вам найти место для захоронения ваших близких. Пожалуйста, свяжитесь с
                            нами по удобному для вас каналу связи.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container dorik-row-fhmrapec-wrapper    ">
            <div class="dorik-row-fhmrapec  flex  ">
                <div class="col-lg-3/5 col-md-3/5 ">
                    <div class="column-inner dorik-column-fj9imwpn  3/5">
                        <div class="dorik-wrapper dorik-heading-4t5xch3k-wrapper "><h5
                                class="dorik-heading dorik-heading-4t5xch3k "><span>Адрес</span></h5></div>
                        <div class="dorik-text dorik-text-tmuo66x9 ">Россия, 410012, Саратов, ул. Кутякова, 5. Наше
                            кладбище находится в живописном районе города рядом с парком.
                        </div>
                        <form id="d3z3muyi" class="dorik-contactForm-d3z3muyi "><input type="hidden" name="_t"
                                                                                       value=""/><input type="hidden"
                                                                                                        name="_sub"/>
                            <div class="fields-wrapper">
                                <div class="form-group"><input type="text" name="name" class="form-control"
                                                               placeholder="Ваше имя"/></div>
                                <div class="form-group"><input type="email" name="email" required=""
                                                               class="form-control"
                                                               placeholder="Ваша электронная почта*"/></div>
                                <div class="form-group"><input type="number" name="phone" class="form-control"
                                                               placeholder="Номер телефона*"/></div>
                                <div class="form-group"><textarea name="message" class="form-control" rows="4"
                                                                  placeholder="Ваше сообщение"></textarea></div>
                                <div style="position:absolute;opacity:0;z-index:-999"><label
                                        for="confirm_d3z3muyi"><input type="text" autoComplete="off"
                                                                      id="confirm_d3z3muyi" name="confirm_d3z3muyi"
                                                                      placeholder="Enter your confirm_d3z3muyi"/></label>
                                </div>
                                <div class="form-group form-button">
                                    <button type="submit">Отправить
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner"
                                             class="svg-inline--fa fa-spinner fa-spin fa-fw spinner" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             style="display:none;margin-left:5px">
                                            <path fill="currentColor"
                                                  d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dorik-section symbol--footer dorik-section-4luibkyx ">
    <div class="dorik-container-6me9815q  ">
        <div class="dorik-container-sf4ohqk6  ">
            <div class="dorik-container-vmtn96wg  ">
                <div class="dorik-wrapper dorik-heading-ko1pc78f-wrapper "><h1
                        class="dorik-heading dorik-heading-ko1pc78f "><span>Возникли вопросы?
</span></h1></div>
            </div>
            <div class="dorik-container-29osa6v6  ">
                <div class="dorik-text dorik-text-uleofhp4 ">Наши операторы всегда готовы помочь вам с любыми
                    вопросами.
                </div>
            </div>
            <div class="dorik-container-ps5i7fw8  ">
                <div class="dorik-button-98oe4d7c-wrapper  ">
                    <button class="dorik-btn dorik-button-98oe4d7c  ">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-arrow-right"
                             class="svg-inline--fa fa-circle-arrow-right fa-fw icon " role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test">
                            <path fill="currentColor"
                                  d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z"></path>
                        </svg>
                        Напишите нам
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="dorik-container-fszf2bcc  ">
        <div class="dorik-container-mvpd25kd  ">
            <div class="dorik-wrapper dorik-image-1dox7h7w-wrapper "><img
                    src="https://cdn.dorik.com/659cec2c1fed02001165198c/images/Logo-Qhd3y.png" alt="" loading="lazy"
                    class="dorik-image-1dox7h7w "/></div>
            <div class="dorik-text dorik-text-tk4ykphf ">улица Пушкина, дом 12, Саратов, Россия</div>
            <div class="dorik-container-3sx63byh  ">
                <ul class="dorik-socialIcon-vzeyaf8r  dorik-socialIcon-vzeyaf8r-wrapper ">
                    <li><a href="https://facebook.com/" class="">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="128" height="128" rx="10" fill="#2077F2"/>
                            <path d="M88.3345 82.9375L91.1855 64.4297H73.0618V52.3594C73.0618 47.1289 75.5055 42.3008 83.6509 42.3008H92V26.4082C92 26.4082 84.4655 25 77.3382 25C62.4727 25 52.6982 34.0527 52.6982 50.1465V64.4297H36V82.9375H52.6982V128H73.0618V82.9375H88.3345Z"
                                  fill="white"/>
                        </svg>
                    </a></li>
                    <li><a href="https://twitter.com/" class="">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="128" height="128" rx="10" fill="#1DA1F2"/>
                            <path d="M49.363 96C79.1386 96 95.4298 71.3999 95.4298 50.05C95.4298 49.3501 95.4298 48.6499 95.3796 47.9499C98.5376 45.6499 101.295 42.7999 103.5 39.6C100.593 40.8499 97.4348 41.7501 94.1765 42.1C97.5348 40.1001 100.091 36.9501 101.294 33.2C98.1864 35.05 94.6776 36.4 91.0185 37.1C88.0608 33.95 83.8503 32 79.1884 32C70.2157 32 62.9974 39.25 62.9974 48.15C62.9974 49.4 63.1478 50.6499 63.3983 51.8499C49.9645 51.1498 37.984 44.7499 30.0139 34.9499C28.6101 37.3499 27.8084 40.0999 27.8084 43.0999C27.8084 48.6999 30.6654 53.6499 35.0264 56.5499C32.3699 56.4501 29.8633 55.7001 27.708 54.5001V54.7C27.708 62.55 33.2722 69.0498 40.691 70.55C39.3377 70.8999 37.884 71.0999 36.4303 71.0999C35.3775 71.0999 34.375 71 33.3724 70.85C35.4277 77.25 41.3929 81.9 48.5109 82.0501C42.9467 86.4001 35.9789 88.9501 28.4099 88.9501C27.0565 88.9501 25.8034 88.9 24.5 88.7502C31.6682 93.3499 40.1897 96 49.363 96Z"
                                  fill="white"/>
                        </svg>
                    </a></li>
                    <li><a href="https://linkedin.com/" class="">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="128" height="128" rx="10" fill="#1B66C2"/>
                            <path d="M42.9643 102V51.1633H27.1875V102H42.9643ZM34.9911 44.3624C40.0804 44.3624 44.1518 40.1119 44.1518 35.0112C44.1518 30.0805 40.0804 26 34.9911 26C30.0714 26 26 30.0805 26 35.0112C26 40.1119 30.0714 44.3624 34.9911 44.3624ZM101.83 102H102V74.1163C102 60.5145 98.9464 49.9732 83 49.9732C75.3661 49.9732 70.2768 54.2237 68.0714 58.1342H67.9018V51.1633H52.8036V102H68.5804V76.8367C68.5804 70.2058 69.7679 63.915 77.9107 63.915C86.0536 63.915 86.2232 71.396 86.2232 77.3468V102H101.83Z"
                                  fill="white"/>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="dorik-container-s6tvn5r9  ">
            <div class="dorik-container-av8pkhxl  ">
                <div class="dorik-wrapper dorik-heading-9act3chu-wrapper "><h5
                        class="dorik-heading dorik-heading-9act3chu "><span>Ссылки</span></h5></div>
                <ul class="dorik-list dorik-links-svi3melx ">
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span class="dorik-list--text">Главная</span></a>
                    </li>
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span class="dorik-list--text">Цены</span></a>
                    </li>
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span class="dorik-list--text">Услуги</span></a>
                    </li>
                </ul>
            </div>
            <div class="dorik-container-hdbr1r3o  ">
                <div class="dorik-wrapper dorik-heading-smcv77zb-wrapper "><h5
                        class="dorik-heading dorik-heading-smcv77zb "><span>Контакты</span></h5></div>
                <ul class="dorik-list dorik-links-v53mmoyh ">
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span
                            class="dorik-list--icon"></span><span class="dorik-list--text">Телефон</span></a></li>
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span class="dorik-list--text">Email</span></a>
                    </li>
                    <li class="dorik-list--item"><a href="#" class="dorik-list--link "><span class="dorik-list--text">Адрес</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<script>window.DORIK_PROJECT_ID = "6644ee16fc5eaa001128db65";</script>
<script>(function Ua() {
    document.querySelectorAll(".popup-btn").forEach(r => {
        let t = r.getAttribute("href");
        t = t.startsWith("#") ? t.substring(1) : t, r.addEventListener("click", () => {
            if (!t) return;
            let i = document.getElementById(t), n = document.querySelector(`.close-btn-${t}`),
                a = i == null ? void 0 : i.parentElement;
            a == null || a.classList.add(`row-${t}-overlay`), i == null || i.classList.add(`modal-${t}-visible`), n == null || n.classList.add("btn-visible")
        })
    })
})()</script>
<script>(function Xa({exitIntentPopup: e = {}, onloadPopup: r = {}, EXIT_INTENT: t, ONLOAD: i}) {
    const n = a => {
        let o = document.getElementById(a), l = document.querySelector(`.close-btn-${a}`),
            u = o == null ? void 0 : o.parentElement;
        u == null || u.classList.add(`row-${a}-overlay`), o == null || o.classList.add(`modal-${a}-visible`), l == null || l.classList.add("btn-visible")
    };
    document.addEventListener("mouseleave", () => {
        let a = localStorage.getItem(`${t}-${e.id}-${e.suffixId}`);
        e.id && !a && n(e.id)
    }), window.addEventListener("load", () => {
        let a = localStorage.getItem(`${i}-${r.id}-${r.suffixId}`);
        r.id && !a && n(r.id)
    })
})({
    EXIT_INTENT: "EXIT_INTENT",
    ONLOAD: "ONLOAD",
    exitIntentPopup: undefined,
    onloadPopup: undefined
})</script>
<script src="https://cdn.dorik.com/common/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    ;(function () {
        var navbar = $(".dorik-nav-1ur9miq0");
        var navbarCollapse = $(".dorik-navbar--collapse");
        (function ($, navbar, navbarCollapse) {
            $(document).on("click", "a", function (e) {
                var a = event.target.closest("a");
                var hash = a.hash;
                var stickyNav = $(".sticky-nav");
                var isSticky = !!event.target.closest(".sticky-nav.sticky");
                if (hash) {
                    var baseHref = a.href.match(/(^https?:.+)#/);
                    var baseURI = a.baseURI.match(/(^https?:.+)#?/);
                    baseHref = baseHref && baseHref[1];
                    baseURI = baseURI && baseURI[1];
                    if (baseHref && baseURI && baseURI.includes(baseHref)) {
                        e.preventDefault();
                        const section = $(hash).offset();
                        if (!section) return;
                        var collapsedHeight =
                            navbarCollapse[0]?.clientHeight || 0;
                        var navbarHeight =
                            navbar[0].clientHeight - collapsedHeight;
                        var scrollTop = section.top;
                        if (stickyNav.length) {
                            scrollTop = scrollTop - navbarHeight;
                        } else {
                            scrollTop = scrollTop - collapsedHeight;
                        }
                        if (!isSticky) {
                            let expendedHeight = event.target.closest(".collapse.show")?.clientHeight || 0
                            scrollTop = scrollTop - expendedHeight
                        }
                        var options = {
                            easing: "linear",
                        };
                        $("html, body").animate(
                            {
                                scrollTop: scrollTop,
                            },
                            options
                        );
                    }
                }
            });
        })($, navbar, navbarCollapse);
    })();

    ;(function () {
        var navbar = document.querySelector(".dorik-nav-1ur9miq0");
        (function toggleNav(el) {
            const toggleBtn = el.querySelector(".dorik-navbar--toggle");
            const navlist = toggleBtn.nextElementSibling;
            const isMobileView = window.innerWidth < 768;
            const isTabView = navbar.parentNode?.clientWidth <= 820;
            toggleBtn &&
            toggleBtn.addEventListener("click", function (e) {
                const hasShow = navlist?.classList.contains("show");
                if (!hasShow) {
                    expand(navlist);
                } else {
                    collapse(navlist);
                }
            });
            const expandableDropdownLink = navbar.querySelector(".is-dropdown a");
            expandableDropdownLink &&
            expandableDropdownLink.addEventListener("click", function (e) {
                e.preventDefault();
                let dropdownlist =
                    e.target.closest("a")?.nextElementSibling;
                const hasShow = dropdownlist?.classList.contains("show");

                if (isMobileView || isTabView) {
                    if (hasShow) {
                        collapse(dropdownlist);
                    } else {
                        expand(dropdownlist);
                    }
                }
            });

            let dropdownItems = document.querySelectorAll(
                ".dorik-nav--dropdown"
            );
            dropdownItems.forEach((item) => {
                item?.addEventListener("click", () => {
                    collapse(navlist);
                    collapse(item);
                });
            });

            function expand(navlist) {
                if (!navlist) return;
                navlist.classList.add("show");
                const height = navlist.clientHeight + "px";
                isMobileView && navlist.classList.add("collapsing");
                setTimeout(() => {
                    navlist.style.height = height;
                }, 0);
                setTimeout(() => {
                    navlist.style.height = null;
                    navlist.classList.remove("collapsing");
                }, 350);
            }

            function collapse(navlist) {
                if (!navlist) return;
                navlist.style.height = navlist.clientHeight + "px";
                isMobileView && navlist.classList.add("collapsing");
                setTimeout(() => {
                    navlist.style.height = null;
                }, 0);
                setTimeout(() => {
                    navlist.classList.remove("show");
                    navlist.classList.remove("collapsing");
                }, 350);
            }
        })(navbar);

    })();
    ;(function () {
        var elem = $("#d3z3muyi");

        function triggerSpinner(el, status) {
            el.find(".spinner").css(
                "display",
                status ? "inline-block" : "none"
            );
        }
        ;(function injectUniqId(elem) {
            const uniqId = Math.random().toString(36).substring(2, 8);
            var input = document.createElement("input");
            input.type = "hidden";
            input.value = uniqId;
            input.name = "_uid";
            elem.append(input);
        })(elem);
        $(elem).on("submit", function (e) {
            e.preventDefault();

            function verifyLegitimateUser() {
                const honeyPotIdentifier = `confirm_d3z3muyi`;
                const honeyPotField = document.querySelector(
                    `input[id="${honeyPotIdentifier}"]`
                );
                return !honeyPotField?.value;
            };

            const isLegitimateUser = verifyLegitimateUser();
            if (!isLegitimateUser) return;

            var that = this;
            triggerSpinner(elem, true);
            $(that).find(".success-message").remove();
            $(that).find(".error-message").remove();

            const data = $(this).serialize().replace("&confirm_d3z3muyi=", "")

            $.ajax({
                data,
                url: "/v2/sites/action/contact",
                method: "POST",
                success: function (data) {
                    var msgClass = data.success === true ? "success-message" : "error-message";
                    var message = data.success === true ? "Спасибо за сообщение! ;)" : data.message;
                    var $div = $("<div>", {
                        class: msgClass,
                        html: message
                    });
                    $(that).append($div);
                    triggerSpinner(elem, false);
                    that.reset()

                },
                error: function (error) {
                    var $div = $("<div>", {
                        class: "error-message",
                        html: error.message || "Something went wrong! Check the fields"
                    });
                    $(that).append($div);
                    triggerSpinner(elem, false);
                }
            });
        });
    })();</script>
</body>
</html>