<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="stylesheet" th:href="@{/css/styleResetPassword.css}">
</head>
<body>
<div class="reset-password">
    <h1>Сброс пароля</h1>
    <form action="#" th:action="@{/reset-password}" method="post">
        <label for="phoneNumber">Введите номер телефона:</label><br>
        <input type="tel" id="phoneNumber" name="phoneNumber" required><br>
        <button type="submit">Отправить СМС</button>
    </form>
</div>
</body>
</html>
